<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="DEBA438C-3D63-46C1-A233-CB30E50AA269" Publisher="CN=Xamarin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Calculator.Windows</DisplayName>
    <PublisherDisplayName>Xamarin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Calculator.Windows.exe" 
    			EntryPoint="Calculator.Windows.App">
      <m2:VisualElements DisplayName="Calculator" 
      	Square150x150Logo="Assets\Logo.png" 
      	Square30x30Logo="Assets\SmallLogo.png" 
      	Description="Calculator for Windows 8.1" 
      	ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>